/********** ANIMACION NOVEDADES *******/
.parrafoNovedades {
  animation-duration: 3s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

/* FOOTER */
footer {
  /* #f5f2ef */
  background-color: #403B36;
  margin-top: 70px;
  height: 150px;
  padding-top: 40px;
  padding-bottom: 10px; }

.linkFooter {
  display: block;
  text-decoration: none;
  color: #403B36;
  padding: 10px;
  border-radius: 6px;
  background-color: #e8ddd1;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  width: fit-content;
  margin: 0 auto; }

.linkFooter:hover {
  background-color: #d9c8b4; }

.parrafoFooter {
  text-align: center;
  margin-top: 30px;
  color: white; }

/* HEADER */
.header-sup-container {
  background-color: #403B36;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 30px; }

.fa-phone {
  color: #d9c8b4;
  margin-right: 10px; }

.telefono .email {
  color: whitesmoke;
  margin-right: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px; }

.fa-envelope {
  color: #d9c8b4;
  margin-right: 10px; }

.email :hover {
  color: #d9c8b4; }

.email a {
  text-decoration: none;
  cursor: pointer; }

.headerContainer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px; }

/* HEADER LOGO */
.logo {
  margin-left: 10px; }

.logoTitulo {
  color: #403B36;
  font-family: 'Poppins', sans-serif;
  font-size: 32px; }

.logoSubtitulo {
  color: #403B36;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 22px; }

/* HEADER MENU */
.menu {
  display: flex;
  list-style: none; }

.menu li {
  padding: 15px;
  font-family: normal 18px/1.5 "Poppins", sans-serif, bold; }

.menu li a:hover {
  color: #a66d6d; }

.menu li a {
  text-decoration: none;
  color: #F44336;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2); }

.fa-align-justify {
  display: none; }

.btn--twitter {
  background-color: #55acee; }

.btn--facebook {
  background-color: #3a5795; }

.btn--send-mail {
  background-color: #C25E30; }

/* ESTILOS RESPONSIVE */
/* HEADER */
@media only screen and (max-width: 768px) and (min-width: 400px) {
  .header-sup-container {
    display: flex;
    flex-direction: column; }
  .headerContainer {
    display: flex;
    flex-direction: column; }
  .logoSubtitulo {
    margin-bottom: 25px; }
  .indexPortada {
    display: none; }
  nav {
    display: none; }
  .fa-align-justify {
    display: block;
    font-size: 40px;
    margin-top: 40px; } }

/* INDEX */
@media only screen and (max-width: 768px) and (min-width: 400px) {
  .seccionContenedor {
    display: grid;
    grid-template-areas: "img-depto img-depto" "titulo-depto titulo-depto"; }
  .seccionImg {
    grid-area: img-depto;
    margin-left: 70px; }
  .seccionTitulo {
    grid-area: titulo-depto;
    margin-left: 70px; } }

/* NOSOTROS */
@media only screen and (max-width: 768px) and (min-width: 400px) {
  .imgGeneral {
    width: 400px; }
  .titulosPrincipales {
    font-size: 30px; } }

/* CONTACTO */
@media only screen and (max-width: 768px) and (min-width: 400px) {
  .contactotitulo {
    font-size: 30px; }
  .formGrupo {
    width: 300px; }
  .botonEnviar {
    margin-bottom: 20px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*** MAIN ***/
.indexPrincipal {
  background-color: white; }

.indexPortada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 425px;
  background-image: url(../img/imgPrincipal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px; }

.portadaTitulo {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 6px #1e1c1c; }

.portadaParrafo {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 6px #1d1b1c; }

/*** DEPARTAMENTOS INDEX ***/
.seccionTituloPrincipal {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #730220;
  margin: 40px; }

.seccionContenedor {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.seccionDep {
  width: 22%;
  cursor: pointer;
  margin: 10px;
  padding-bottom: 40px;
  text-decoration: none;
  color: #403B36; }

.seccionDep:hover {
  background-color: #f2f2f2; }

.seccionImg {
  width: fit-content;
  margin: 30px auto;
  display: block; }

.seccionTitulo {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: center; }

/*** NOSOTROS ***/
.imgGeneral {
  display: block;
  width: 1200px;
  margin: 0 auto; }

.titulosPrincipales {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #730220;
  margin-left: 70px;
  margin-top: 50px;
  font-weight: normal; }

.parrafoNosotros {
  font-family: 'Poppins', sans-serif;
  line-height: 27px;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 70px;
  margin-right: 70px;
  font-size: 20px;
  color: #403B36; }

/*** DEPARTAMENTOS ***/
.deptos {
  width: 75%;
  margin: 40px auto; }

.depto {
  display: grid;
  grid-template-areas: "depto-img depto-descripcion"; }

.deptoImg {
  grid-area: depto-img;
  margin-top: 45px;
  margin-right: 20px; }

.deptoDescripcion {
  display: flex;
  flex-direction: column;
  grid-area: depto-descripcion; }

.deptoTitulo {
  border-bottom: 1px solid grey;
  font-weight: normal;
  color: #730220;
  padding-bottom: 10px;
  margin-top: 40px;
  font-size: 22px;
  font-family: 'Poppins', sans-serif; }

.deptoParrafo {
  color: #403B36;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px; }

.deptoParrafoNombre {
  border-bottom: 1px solid grey;
  color: #403B36;
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px; }

/*** NOVEDADES ***/
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly; }

.parrafo1Novedades {
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 70px;
  margin-right: 70px;
  font-size: 20px;
  color: #403B36;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right, gray, white); }

.parrafo2Novedades {
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 70px;
  margin-right: 70px;
  font-size: 20px;
  color: #403B36;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right, gray, white);
  /*** FORMULARIO ***/ }
  .parrafo2Novedades .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .parrafo2Novedades .contactotitulo {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #730220;
    font-weight: normal;
    margin-top: 25px;
    margin-bottom: 30px; }
  .parrafo2Novedades .formGrupo {
    display: flex;
    flex-direction: column;
    width: 800px; }
  .parrafo2Novedades .grupoLabel {
    padding-top: 15px;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif; }
  .parrafo2Novedades .grupoInput {
    border: 1px solid #403B36;
    padding: 10px 10px; }
  .parrafo2Novedades .boton, .parrafo2Novedades .boton--botonEnviar, .parrafo2Novedades .boton--botonSuscribir {
    padding: 10px 0;
    margin-top: 15px;
    margin-bottom: 40px;
    background-color: #d9c8b4;
    color: #403B36;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border: none; }
  .parrafo2Novedades .boton--botonEnviar {
    background-color: green;
    color: yellow; }
  .parrafo2Novedades .boton--botonSuscribir {
    background-color: red;
    color: yellow; }
  .parrafo2Novedades .botonEnviar:hover {
    background-color: #e8ddd1; }
  .parrafo2Novedades .botonSuscribir:hover {
    background-color: #e8ddd1; }
  .parrafo2Novedades .headercontainer a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    background: #234567;
    font-variant: small-caps;
    text-shadow: 1px 1px black; }
  .parrafo2Novedades .headercontainer input[type="checkbox"],
  .parrafo2Novedades .respmenu .fa-bars,
  .parrafo2Novedades .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px; }
  .parrafo2Novedades .headercontainer .fa-bars,
  .parrafo2Novedades .respmenu .fa-times {
    font-size: 48px;
    pointer-events: none; }
  .parrafo2Novedades .headercontainer input[type="checkbox"] {
    opacity: 0; }
  .parrafo2Novedades .headercontainer {
    color: white;
    position: relative;
    background: #123456;
    min-height: 48px; }
  .parrafo2Novedades .headercontainer nav {
    display: none; }
  .parrafo2Novedades .headercontainer input:checked ~ nav {
    display: block; }
  .parrafo2Novedades .headercontainer input:checked ~ .fa-bars {
    display: none; }
  .parrafo2Novedades .headercontainer input:not(:checked) ~ .fa-times {
    display: none; }
